@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
    --background-color: #292929;
    --text-color: #f5f5f5;
    --button-text-color: #020202;
    --text-box-background-color: #1f1f1f;
    --matrix-box-background-color: #151515;    
    --button-color: #0da323;
    --button-clicked-color: #058c42;
    --primary-font: 'DM Mono', monospace;
    --message-font-size: 1.25em;
    --matrix-font-size: 2em;
    --button-width: 150px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    max-width: 100vw;
    gap: 10px;
}

/* header part */
header{
    display: flex;
    min-height: 10%;
}

.logo{
    margin: 10px; 
}

.information-page-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: auto;
    align-self: flex-end;
}

.information-page-button{
    height: 40px;
    width: 40px;
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: var(--message-font-size);
    font-weight: 500;
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    transition: transform 0.1s ease-in-out;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

/* main part - input box and key matrix box */
.main-container{
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* text box and button for encryption decryption */
.message-container{
    min-height: 600px;
    min-width: 650px;
    display: flex;
    flex-direction: column;
    background-color: var(--text-box-background-color);
    border-radius: 20px;
}

.text-box{
    height: 90%;    
    width: 95%;
    margin: 10px;        
    font-family: var(--primary-font);
    font-size: var(--message-font-size);      
    background-color: transparent; 
    color: var(--text-color);           
    outline: none;        
    border: none;
    resize: none;
    overflow: hidden;
}

.action-buttons-container{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.encrypt-decrypt-button {
    height: 40px;
    width: var(--button-width);
    margin: 10px;
    padding: 5px;
    align-content: center;
    background-color: var(--button-color);    
    color: var(--button-text-color);
    font-weight: 600;
    font-size: var(--message-font-size);    
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.encrypt-decrypt-button:hover,.generate-key-button:hover,
.clear-matrix-button:hover, .information-page-button:hover,
.encrypt-decrypt-toggle-switch:hover, .previous-button:hover, .next-button:hover, .copy-button:hover
,.github-link:hover,.github-button:hover{
    transform: scale(1.05);
}
.encrypt-decrypt-button:active,.generate-key-button:active,
.clear-matrix-button:active,.information-page-button:active,
.encrypt-decrypt-toggle-switch:active, .previous-button:active, .next-button:active, .copy-button:active
,.github-link:active,.github-button:active{
    transform: scale(0.90);
}

.encrypt-decrypt-toggle-switch {
    height: 40px;
    width: 80px;
    position: relative;
    display: inline-block;
    transition: transform 0.1s ease-in-out;
}

.encrypt-decrypt-toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--matrix-box-background-color);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    top: 5px; 
    left: 5px; 
    background-color: var(--text-color);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--button-color);
}

input:checked + .slider:before {
    transform: translateX(40px);
}

/* Key Matrix, clear matrix button, generate random values button*/
.key-matrix-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    min-width: 650px;
    background-color: var(--matrix-box-background-color);
    border-radius: 20px;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#radio-button-grid-size {
    background-color: var(--matrix-box-background-color);
    border-color: var(--matrix-box-background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: var(--message-font-size);
    padding: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.space-top, .space-bottom {
    flex-grow: 1;
}

.matrix-container {
    margin: 10px;
    max-height: 80%;          
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
}

#copy-key-matrix-container, #product-matrix-container, #input-to-grid-matrix-container, 
#copy-key-matrix-container-decrypt,#inverse-key-matrix-container,#input-to-grid-matrix-container-2, 
#product-matrix-container-decrypt, #inverse-key-matrix-container-2, #indices-grid-container, #copy-grid-container{
    margin: 10px;
    max-height: 80%;          
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cell {
    font-size: 20px; /* DITO NAIBA FONT SIZE */
    font-family: var(--primary-font);
    font-weight: 300;
    text-align: center;
    height: 5rem;
    background-color: transparent;
    color: var(--button-color);
    border: 2px solid var(--button-color);
}

.clear-matrix-button{
    height: 40px;
    width: var(--button-width);
    margin: 10px;
    padding: 5px;
    align-content: center;
    background-color: var(--button-color);    
    color: var(--button-text-color);
    font-weight: 600;
    font-size: var(--message-font-size);    
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.generate-key-button{
    height: 40px;
    width: var(--button-width);
    margin: 10px;
    padding: 5px;
    align-content: center;
    background-color: var(--button-color);    
    color: var(--button-text-color);
    font-weight: 600;
    font-size: var(--message-font-size);    
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.generate-key-button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

/*second part - results of encryption/decryption*/  
.results-container {
    overflow: hidden;
}

/*header*/
.results-header{
    border-top: 3px solid var(--text-box-background-color);
    border-bottom: 3px solid var(--text-box-background-color);
    display: flex;
    min-height: 10%;
    align-items: center;
    justify-content: space-between;
}

.previous-button, .next-button{
    display: flex;
    background-color: transparent;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    border-color: transparent;
    transition: transform 0.1s ease-in-out;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.results-header-steps{
    display: flex;
    min-width: 150px;
    font-family: var(--primary-font);
    font-size: var(--message-font-size);
    color: var(--text-color);  
    justify-content: center;     
    flex-grow: 1;
}

/*steps*/
.results-steps {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
}

.step{
    display:flex;
    flex: 0 0 100%;
    scroll-snap-align: start;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 100%;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
}

.results-text-box{
    box-sizing: border-box; 
    flex-grow: 1;
    max-height: 95%;      
    width:95%; 
    font-family: var(--primary-font);
    font-size: var(--message-font-size);      
    background-color: transparent; 
    color: var(--text-color);           
    outline: none;        
    border: none;
    resize: none;
    overflow-x: hidden;
    padding: 0;  
    margin: 0; 
}

.copy-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
}

.copy-button {
    box-sizing: border-box;
    width: var(--button-width);
    padding: 8px 12px;
    font-family: var(--primary-font);
    font-size: var(--button-font-size);
    color: var(--button-text-color);
    background-color: var(--button-color);
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 3%;
    transition: transform 0.1s ease-in-out;
}


.space-bottom-result {
    flex-grow: 0; 
    height: 10px;
}

.type-a, .type-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 48%; 
    min-width: 605px; /* Prevent shrinking too small */
    min-height: 500px; /* Set a minimum height */
    background-color: var(--text-box-background-color); 
    border-radius: 20px;
    padding: 10px;
    max-width: 550px; /* Prevent shrinking too small */
    max-height: 500px;
    box-sizing: border-box;
    overflow: auto;
}

.type-b{
    background-color: var(--matrix-box-background-color);
} 

.message-and-index, p{
    font-size: var(--message-font-size);
    font-family: var(--primary-font);
    font-weight: 300;
    text-align: center;
    background-color: transparent;
    color:var(--text-color);
    align-items: center;
    justify-content: center;
}

.top-border {
    border-top: solid var(--matrix-box-background-color);
}

.bottom-border {
    border-bottom: solid var(--matrix-box-background-color);
}

.left-border {
    border-left: solid var(--matrix-box-background-color);
}

.right-border {
    border-right: solid var(--matrix-box-background-color);
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    width: 100vw; 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-items: center; 
    align-content: center;
    overflow-y: auto; 
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}
.modal.show {
    visibility: visible;
    opacity: 1;
}


.modal-content {    
    width: 90%;
    max-height: fit-content;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.custom-alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-alert-content {
    background: #2a2727;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: shake 0.3s ease-in-out;
}

.custom-alert-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-alert-content button:hover {
    background: #45a049;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
.main-container-info{
    display: flex;
    justify-content: center;
}

.github-button {
    display: inline-flex;
    align-items: center; 
    height: 40px;
    padding: 5px 20px;
    margin: 20px 0 0; 
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: var(--message-font-size);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, background-color 0.3s ease-in-out;
}

.github-icon-big {
    height: 20px; 
    width: 20px;
    margin-right: 10px; 
}

.about-invertrix-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: 70%;
    font-family: var(--primary-font);
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.about-invertrix-text{
    display: flex;
    align-items: center;
}

h1{
    color: var(--text-color);
    font-weight: 500;
    margin: 0;
}

.invertrix-information-text{
    display: flex;
    margin:0;
}

p{
    color: var(--text-color);
}

.video-container{
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.title-information-text{
    padding: 10px;
    text-align: center;
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: 1.75em;
    font-weight: 500;
    align-content: center;
    justify-content: center;
}

.information-text{
    padding: 2rem;
    padding-top:0;
    text-align: center;
    font-family: var(--primary-font);
    color: var(--text-color);
    font-weight: 400;
    align-content: center;
    justify-content: center;
    
}

.multiplying-matrices-container, .actual-method-container{
    height: 600px;
    width: 650px;
    display: flex;
    flex-direction: column;
    background-color: var(--text-box-background-color);
    border-radius: 20px;    
    align-content: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.actual-method-container{
    background-color: var(--matrix-box-background-color);
    justify-content: center;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect Ratio 16:9 */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Optional: Remove iframe border */
}

.actual-method-container {
    padding: 20px;
    text-align: center;
}

.actual-method-container {
    padding: 20px;
    text-align: center;
}

.developer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.developer-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--text-box-background-color);
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    transition: transform 0.3s ease;
}

.developer-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.developer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.developer-name {
    font-weight: bold;
    margin: 0;
    font-family: var(--primary-font);
    font-size: 1.3rem;
}

.developer-role {
    font-style: italic;
    margin: 0;
    font-family: var(--primary-font);
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.github-link {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 20px;
    width:max-content;
    background-color: var(--button-color);
    font-family: var(--primary-font);
    color: var(--button-text-color);
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;;
}

.github-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.information-text a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s, text-decoration 0.3s;
}

.information-text a:hover {
    color: var(--button-color);
    text-decoration: underline;
}

.information-text a + a {
    margin-left: 5px;
}

.information-text a:before {
    content: "• ";
    font-weight: bold;
    color: #7f8c8d;
}

@media (max-width:700px) {
    :root{
        --message-font-size: 1.2em;
        --matrix-font-size: 0.8em;
    }

    body{
        padding: 5px;
    }
    .cell{
        font-size: 1em;
        height: 3.5rem;
    }

    .generate-key-button{
        padding: 4px;
    }

    .copy-button{
        width: 100px;
    }
    /* Header adjustments */
    .results-header{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 20%;
    }

    .matrix-container{
        width:100vw;
    }

    .logo{
        width: 20px;
        height: 25px;
    }
    
    .main-container{
        width: 100vw;
        flex-wrap: wrap;
    }

    .message-container,.about-invertrix-container{
        min-width: 100%;
    }
    .message-and-index, p{
        font-size: var(--message-font-size);
    }

    .key-matrix-container{
        min-width: 100%;
    }

    .modal{
        width: 100vw;
        height: 100%;
    }

    .results-header-steps{
        font-size:1rem;
        width: 150px;
    }
    
    .modal-content{
        width: 80%;
        height: auto;
        margin: auto;
    }

    .results-container{
        width: 100%;
    }

    .step{
        min-width: none;
        min-height: none;
    }

    .type-a,.type-b{
        min-width: 250px;
        width:100%;
        max-width: auto;
        min-height: 240px;
        max-height: 20vh;
    }

    .main-container-info,.video-container{
        width: 100%;
    }

    .about-invertrix-text h1{
        width: 100%;
    }

    .mode-display{
        font-size: 0.6rem; 
        margin: 0;
        font-weight:500;
    }

    #copy-key-matrix-container, #product-matrix-container, #input-to-grid-matrix-container, 
#copy-key-matrix-container-decrypt,#inverse-key-matrix-container,#input-to-grid-matrix-container-2, 
#product-matrix-container-decrypt, #inverse-key-matrix-container-2, #indices-grid-container, #copy-grid-container{
        margin: 10px;
        max-height: 80%;          
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

}

/*---------------------------------------------------- Animations and scrollbar*/

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}
  
.shake {
    animation: shake 0.2s ease-in-out;
}

@keyframes generating {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.05); 
        opacity: 1; 
    }
    100% {
        transform: scale(1); 
        opacity: 0.6;
    }
}

.generating {
    animation: generating 1200ms ease-in-out infinite;
}

.results-text-box::-webkit-scrollbar, 
.type-a::-webkit-scrollbar, 
.type-b::-webkit-scrollbar, 
html::-webkit-scrollbar, .results-steps::-webkit-scrollbar {
    width: 12px;
}

.results-text-box::-webkit-scrollbar-track,
.type-a::-webkit-scrollbar-track, 
.type-b::-webkit-scrollbar-track,html::-webkit-scrollbar-track
, .results-steps::-webkit-scrollbar-track{
    background: var(--background-color);
    border-radius: 10px; 
}

.results-text-box::-webkit-scrollbar-thumb,
.type-a::-webkit-scrollbar-thumb, 
.type-b::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb
, .results-steps::-webkit-scrollbar-thumb{
    background: var(--background-color);
    border-radius: 10px;
    border: 2px solid var(--text-color);
}

.results-text-box::-webkit-scrollbar-thumb:hover,
.type-a::-webkit-scrollbar-thumb:hover, 
.type-b::-webkit-scrollbar-thumb:hover, html::-webkit-scrollbar-thumb:hover
, .results-steps::-webkit-scrollbar-thumb:hover {
    background: var(--text-box-background-color);
}

.results-steps::-webkit-scrollbar {
    display: none;
}



