@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
    --background-color: #292929;
    --text-color: #f5f5f5;
    --button-text-color: #020202;
    --text-box-background-color: #1f1f1f;
    --matrix-box-background-color: #151515;    
    --button-color: #0da323;
    --button-clicked-color: #058c42;
    --primary-font: 'DM Mono', monospace;
    --message-font-size: 1.25em;
    --matrix-font-size: 2em;
    --button-width: 150px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

/* header part */
header{
    display: flex;
    align-content: flex-start;
    min-height: 10%;
}

.logo{
    margin: 10px; 
}

/* main part - input box and key matrix box */

.main-container{
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* text box and button for encryption decryption */
.message-container{
    min-height: 600px;
    min-width: 650px;
    display: flex;
    flex-direction: column;
    background-color: var(--text-box-background-color);
    border-radius: 20px;
}

.text-box{
    height: 90%;    
    width: 625px;
    margin: 10px;        
    font-family: var(--primary-font);
    font-size: var(--message-font-size);      
    background-color: transparent; 
    color: var(--text-color);           
    outline: none;        
    border: none;
    resize: none;
    overflow: hidden;
}

.action-buttons-container{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.encrypt-decrypt-button {
    height: 40px;
    width: var(--button-width);
    margin: 10px;
    padding: 5px;
    align-content: center;
    background-color: var(--button-color);    
    color: var(--button-text-color);
    font-weight: 600;
    font-size: var(--message-font-size);    
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.encrypt-decrypt-toggle-switch {
    height: 40px;
    width: 80px;
    position: relative;
    display: inline-block;
}

.encrypt-decrypt-toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--matrix-box-background-color);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    top: 5px; 
    left: 5px; 
    background-color: var(--text-color);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--button-color);
}

input:checked + .slider:before {
    transform: translateX(40px);
}

/* Key Matrix, clear matrix button, generate random values button*/

.key-matrix-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    min-width: 650px;
    background-color: var(--matrix-box-background-color);
    border-radius: 20px;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#radio-button-grid-size {
    background-color: var(--matrix-box-background-color);
    border-color: var(--matrix-box-background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: var(--message-font-size);
    padding: 5px;
    cursor: pointer;
}
.space-top, .space-bottom {
    flex-grow: 1;
}

.matrix-container {
    margin: 10px;
    max-height: 80%;          
    min-width: 625px; 
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
}

.cell {
    font-size: var(--matrix-font-size);
    font-family: var(--primary-font);
    font-weight: 300;
    text-align: center;
    height: 5rem;
    background-color: transparent;
    color: var(--button-color);
    border: 2px solid var(--button-color);
}

.top-border {
    border-top: solid var(--matrix-box-background-color);
}

.bottom-border {
    border-bottom: solid var(--matrix-box-background-color);
}

.left-border {
    border-left: solid var(--matrix-box-background-color);
}

.right-border {
    border-right: solid var(--matrix-box-background-color);
}

.clear-matrix-button{
    height: 40px;
    width: var(--button-width);
    margin: 10px;
    padding: 5px;
    align-content: center;
    background-color: var(--button-color);    
    color: var(--button-text-color);
    font-weight: 600;
    font-size: var(--message-font-size);    
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.generate-key-button{
    height: 40px;
    width: var(--button-width);
    margin: 10px;
    padding: 5px;
    align-content: center;
    background-color: var(--button-color);    
    color: var(--button-text-color);
    font-weight: 600;
    font-size: var(--message-font-size);    
    border: none;
    border-radius: 20px;
    cursor: pointer;
}