<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Invertrix</title>
        <link rel = "icon" type = "image/png" sizes = "32x32" href = "{{ url_for('static', filename='assets/invertrix-favicon.png') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div id="mode-display" class="mode-display">Encrypt</div>
        <header>
            <div class = "logo">
                <a href = "/">
                    <img src = "{{ url_for('static', filename='assets/invertix-logo.png') }}" alt = "Invertrix Logo" width = "162px" height = "32px">                    
                </a>
            </div>
            <div class = "information-page-button-container">
                <a href = "/information-page">
                    <button class = "information-page-button" onclick = "playInfoSound()">?</button>                    
                </a>
            </div>
        </header>
        <div class = "container">
            <div class = "main-container">
                <div class = "message-container">
                    <textarea class = "text-box" id = "text-box"></textarea>
                    <div class = "action-buttons-container">
                        <label class = "encrypt-decrypt-toggle-switch">
                            <input type = "checkbox" id = "encrypt-decrypt-toggle" onchange = "toggleMode()" onclick = "playDropdownSound()" checked>
                            <span class = "slider"></span>
                        </label>
                        <button class = "encrypt-decrypt-button" id = "encrypt-decrypt-button">Encrypt</button>
                    </div>
                </div>
                <div class = "key-matrix-container">  
                    <div class = "dropdown-container">
                        <select id = "radio-button-grid-size" onchange = "updateGrid()">
                            <option value = "2" selected>2x2 Matrix</option>
                            <option value = "3">3x3 Matrix</option>
                            <option value = "4">4x4 Matrix</option>
                            <option value = "5">5x5 Matrix</option>
                        </select>
                    </div>
                    <div class = "space-top"></div>
                    <div class = "matrix-container" id = "matrix-container"></div>
                    <div class = "space-bottom"></div>
                    <div class = "action-buttons-container">
                        <button class = "clear-matrix-button" id = "clear-matrix-button" onclick = "playClearSound()">Clear Matrix</button>
                        <button class = "generate-key-button" id = "generate-key-button">Generate Key</button>
                    </div>
                </div>
            </div>
         
        </div>
        <div id="resultsModal" class="modal">
            <div class="modal-content">
                <div class = "results-container">
                    <div class = "results-header" id = "class-header">
                        <button class = "previous-button" id = "previous-button"><img src = "{{ url_for('static', filename='assets/left-arrow.png') }}" width = "32px" onclick = "playDropdownSound()"></button>
                        <p class = "results-header-steps" id="results-header-steps"></p>
                        <button class = "next-button" id = "next-button"><img src = "{{ url_for('static', filename='assets/right-arrow.png') }}"  width = "32px" onclick = "playDropdownSound()"></button>
                    </div>
                    <div id="modal-results-container" class="results-steps"></div>
                </div>   
            </div>
        </div>

        <div id="custom-alert" class="custom-alert-modal" style="display: none;">
            <div class="custom-alert-content">
                <p id="custom-alert-message"></p>
                <button onclick="closeCustomAlert()">OK</button>
            </div>
        </div>            
          
        <script src = "{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>
